# Repo-specific GitIgnore copied from FF-Core ----------------------------------------------------------------------------------------------
*.exe
*.dll
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.user
*.pdb
*.bak

obj
out
debug
release
bin
packages
Dependencies
.suo
.vs
.git
.vscode

 